<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Smart-Start</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('Bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ asset('Bundles/assets/plugins/chartist-js/dist/chartist.min.css')}}" rel="stylesheet">
    <link href="{{ asset('Bundles/assets/plugins/chartist-js/dist/chartist-init.css')}}" rel="stylesheet">
    <link href="{{ asset('Bundles/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css')}}" rel="stylesheet">
    <link href="{{ asset('Bundles/assets/plugins/css-chart/css-chart.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('Bundles/admin/css/style.css')}}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{{ asset('Bundles/admin/css/colors/blue.css')}}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-85622565-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link href="{{ asset('Bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('Bundles/assets/plugins/html5-editor/bootstrap-wysihtml5.css')}}" />
    <!-- Custom CSS -->
    <link href="{{ asset('Bundles/admin/css/style.css')}}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{{ asset('Bundles/admin/css/colors/blue.css')}}" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->       <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="{{ asset('Bundles/assets/images/users/1.png')}}" alt="user" /> </div>
                    <!-- User profile text-->
                    <div class="profile-text"> admin

                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap"></li>
                        <li>
                            <a class="has-arrow" href="{{ path('aceuillAdmin') }}" aria-expanded="false"><i class=""></i><span class="hide-menu">Dashboard </span></a>

                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class=""></i><span class="hide-menu">Formation  </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path('ajouterFormation') }}">Ajouter formation</a></li>
                                <li><a href="{{ path('consulterFormation') }}">Liste des formations</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><i class=""></i><span class="hide-menu">Test  </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{ path('ajouterquiz') }}">Ajouter quiz</a></li>
                                <li><a href="{{ path('consulterQuiz') }}">Liste des Quizs</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="{{ path('Reclamtionadmin') }}" aria-expanded="false"><i class=""></i><span class="hide-menu">Reclamtion </span></a>

                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">

                <a href="{{ path('fos_user_security_logout') }}" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                  {% block cont %}
                    {% endblock cont %}
                </div>

                <!-- .right-sidebar -->

                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="{{ asset('Bundles/assets/plugins/jquery/jquery.min.js')}}"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="{{ asset('Bundles/assets/plugins/bootstrap/js/tether.min.js')}}"></script>
        <script src="{{ asset('Bundles/assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="{{ asset('Bundles/admin/js/jquery.slimscroll.js')}}"></script>
        <!--Wave Effects -->
        <script src="{{ asset('Bundles/admin/js/waves.js')}}"></script>
        <!--Menu sidebar -->
        <script src="{{ asset('Bundles/admin/js/sidebarmenu.js')}}"></script>
        <!--stickey kit -->
        <script src="{{ asset('Bundles/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js')}}"></script>
        <!--Custom JavaScript -->
        <script src="{{ asset('Bundles/admin/js/custom.min.js')}}"></script>
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <!-- chartist chart -->
        <script src="{{ asset('Bundles/assets/plugins/chartist-js/dist/chartist.min.js')}}"></script>
        <script src="{{ asset('Bundles/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js')}}"></script>
        <!-- Chart JS -->
        <script src="{{ asset('Bundles/assets/plugins/Chart.js/Chart.min.js')}}"></script>
        <script src="{{ asset('Bundles/js/dashboard2.js')}}"></script>
        <!-- ============================================================== -->
        <!-- Style switcher -->
        <!-- ============================================================== -->
        <script src="{{ asset('Bundles/assets/plugins/styleswitcher/jQuery.style.switcher.js')}}"></script>
</body>

</html>
