
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Smart-Start</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">
</head>
<body>
<header class="header-area single-page">
    <div class="header-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu main-menu-light">
                        <ul>
                            <li class="active"><a href="{{ path('projet_homepage') }}">Accueil</a></li>

                            <li><a href="">Projet </a>
                                <ul class="sub-menu">
                                    <li><a href="">Publier</a></li>
                                    <li><a href="">Consulter</a></li>
                                    <li><a href="{{ path('ajouterc') }}">Ajouter Contrat</a></li>
                                    <li><a href="{{ path('find') }}">Rechercher</a></li>
                                    <li><a href="{{ path('MesProjet') }}">Mes Projets Freelance</a></li>
                                    <li><a href="{{ path('mescandidature') }}">Mes Candidtures</a></li>
                                    <li><a href={{ path('consc') }}>Consulter Contrat</a></li>
                                </ul>
                            </li>

                            <li><a href="{{ path('formation') }}">Formation </a></li>
                            <li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="">List Blog</a></li>
                                    <li><a href="">Ajouter Blog</a></li>

                                </ul>
                            </li>

                            <li><a href="">Reclamtion </a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('ajouterreclamtion') }}">Ajouter Reclamtion </a></li>
                                    <li><a href="{{ path('mesReclamtion') }}"> Mes reclamtions</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Messageries </a></li>
                            <li><a href="#">Forum </a></li>
                            <li><a href="#"> Mon Profil </a></li>


                            <li class="menu-btn">
                                <a href= "{{ path('fos_user_security_login') }}" class="login">log in</a>
                                <a href="{{ path('fos_user_registration_register') }}" class="login">sign up</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="page-title text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">

                        <h2> {% block rubrique %}  {% endblock %} </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block content %}

{% endblock content %}
<footer class="footer-area section-padding">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">top products</h3>
                        <ul>
                            <li class="mb-2"><a href="#">managed website</a></li>
                            <li class="mb-2"><a href="#">managed reputation</a></li>
                            <li class="mb-2"><a href="#">power tools</a></li>
                            <li><a href="#">marketing service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">newsletter</h3>
                        <p class="mb-4">You can trust us. we only send promo offers, not a single.</p>
                        <form action="#">
                            <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                            <button type="submit" class="template-btn">subscribe now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 offset-xl-1 col-lg-3">
                    <div class="single-widge-home">
                        <h3 class="mb-4">instagram feed</h3>
                        <div class="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed1.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed2.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed3.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed4.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed5.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed6.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed7.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed8.jpg')}}" alt="feed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                            <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!-- Javascript -->
<script src="{{ asset('Bundles/Pack/assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/bootstrap-4.1.3.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/wow.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/owl-carousel.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/jquery.nice-select.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/ion.rangeSlider.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/main.js')}}"></script>
</body>
</html>
