{% trans_default_domain 'FOSUserBundle' %}


<title>Smart-Start</title>
<link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{{ asset('Bundles/login/images/icons/favicon.ico') }}"  />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/vendor/animate/animate.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/css/util.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Bundles/login/css/main.css')}}">
<div class="limiter">
    <div class="container-login100" style="background-image: url('images/img-01.jpg');">
        <div class="wrap-login100 p-t-190 p-b-30">
<form class="login100-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
    <div class="login100-form-avatar">
        <img src="{{ asset('Bundles/login/images/avatar-512.png')}}" alt="AVATAR">
    </div>
    <span class="login100-form-title p-t-20 p-b-45">
						Welcome
					</span>
    {% if csrf_token %}
        <input class="input100" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">

    <input class="input100" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
    </div>

    <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
    <input class="input100" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
        <span class="focus-input100"></span>
        <span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
    </div>
    <div class="container-login100-form-btn p-t-10">
        <a class="txt1" >

            <button class="login100-form-btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" >
                Login
            </button>
        </a>
    </div>

    <div class="text-center w-full p-t-25 p-b-230">
        <a href= class="txt1">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </a>
    </div>

    <div class="text-center w-full">
        <a class="txt1" href="{{ path('fos_user_registration_register') }}">
            Create new account
            <i class="fa fa-long-arrow-right"></i>
        </a>
    </div>
</form>
        </div>
    </div>
</div>
