{% extends 'base2.html.twig' %}
{% block cont %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([histogram,histogram1,histogram2], ['div_histogram','div_histogram1','div_histogram2']) }}
    </script>

        <!-- Column -->
    <div class="col-md-3 col-lg-3 col-xlg-3">
            <div class="card card-inverse card-info">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white">{{ nbr.contrats }}</h1>
                    <h6 class="text-white">Contrats Acceptés </h6>
                </div>
            </div>
        </div>
        <!-- Column -->
    <div class="col-md-3 col-lg-3 col-xlg-3">
            <div class="card card-primary card-inverse">
                <div class="box text-center">
                    <h1 class="font-light text-white">{{ nbr.contartns }}</h1>
                    <h6 class="text-white">Contarts en cours </h6>
                </div>
            </div>
        </div>
        <!-- Column -->

    <div class="col-md-3 col-lg-3 col-xlg-3">
    <div class="card card-inverse card-info">
        <div class="box text-center">
            <h1 class="font-light text-white">{{ nbr.FormationS }}</h1>
            <h6 class="text-white">Formations Soft Skills</h6>
        </div>
    </div>
</div>
        <!-- Column -->
    <div class="col-md-3 col-lg-3 col-xlg-3">
            <div class="card card-inverse card-warning">
                <div class="box text-center">
                    <h1 class="font-light text-white">{{ nbr.FormationH }}</h1>
                    <h6 class="text-white">Formations Hard Skills</h6>
                </div>
            </div>
        </div>
    <div class="col-md-3 col-lg-3 col-xlg-3">
        <div class="card card-inverse card-success">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ nbr.Reclammation }}</h1>
                <h6 class="text-white">Réclamations </h6>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xlg-3">
        <div class="card card-primary card-inverse">
        <div class="box text-center">
            <h1 class="font-light text-white">{{ nbr.can }}</h1>
            <h6 class="text-white">Candidatures</h6>
        </div>
    </div>
</div>
    <div class="col-md-3 col-lg-3 col-xlg-3">
        <div class="card card-inverse card-success">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ nbr.Pro }}</h1>
                <h6 class="text-white">Projets </h6>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xlg-3">
        <div class="card card-inverse card-warning">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ nbr.Pub }}</h1>
                <h6 class="text-white">Publications</h6>
            </div>
        </div>
    </div>

    <br>
    <div class="col-md-12">


        <div class="chart" id="div_histogram1"></div>
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br> <br><br>

    <div class="col-md-12">


        <div class="chart" id="div_histogram"></div>
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br> <br> <br> <br> <br> <br> <br>
    <div class="col-md-12">


        <div class="chart" id="div_histogram2"></div>
    </div>


{% endblock %}