{% extends 'base2.html.twig' %}
{% block cont %}

    <div class="col-md-12">
        <div class="card card-block">

            {{ form_start(form) }}
            <div class="form-group">

                {{ form_widget(form.idF,{'attr':{'class':'form-control custom-select'}} ) }}
            </div>
            <div class="form-group">
                <label>question  </label>

                {{ form_widget(form.qes,{'attr':{'class':'form-control'}} ) }}
            </div>



            <div class="form-group">
                <label>reponse</label>

                {{ form_widget(form.reponse, { 'attr': {

                    'rows' : '25',
                    'cols' : '250',
                    'class':'form-control',
                    'maxlength' : '200'}} ) }}
            </div>

            {{ form_widget(form.Ajouter)}}
            {{ form_rest(form) }}
            {{ form_end(form) }}





        </div>
    </div>



{% endblock %}