{% extends 'base2.html.twig' %}
{% block cont %}

    <div class="col-md-12">
        <div class="card card-block">

            {{ form_start(form) }}
            <div class="form-group">

                {{ form_widget(form.imag,{'attr':{'class':'form-control custom-select'}} ) }}
            </div>
            <div class="form-group">
                <label>Titre  </label>

                {{ form_widget(form.nom,{'attr':{'class':'form-control'}} ) }}
            </div>
            <div class="form-group">
                <label>Url  </label>
                {{ form_widget(form.url1,{'attr':{'class':'form-control'}} ) }}
            </div>


            <div class="form-group">
                <label>description</label>

                {{ form_widget(form.descr, { 'attr': {

                    'rows' : '25',
                    'cols' : '250',
                    'class':'form-control',
                    'maxlength' : '200'}} ) }}
            </div>

            {{ form_widget(form.Modifier)}}
            {{ form_rest(form) }}
            {{ form_end(form) }}





        </div>
    </div>



{% endblock %}