{% extends 'base2.html.twig' %}
{% block cont %}
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

                <div class="col-12">
                    <div class="card">
                        <div class="card-block">

                            <form method="post">
                                {{ form_start(form) }}
                                <div class="form-group">

                                    {{ form_widget(form.message, { 'attr': {

                                        'rows' : '15',
                                        'cols' : '250',
                                        'class':'textarea_editor form-control',
                                        'maxlength' : '200'}} ) }}

                                </div>
                                {{ form_widget(form.envoyer ) }}
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{ asset('Bundles/assets/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ asset('Bundles/assets/plugins/bootstrap/js/tether.min.js')}}"></script>
<script src="{{ asset('Bundles/assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('Bundles/admin/js/jquery.slimscroll.js')}}"></script>
<!--Wave Effects -->
<script src="{{ asset('Bundles/admin/js/waves.js')}}"></script>
<!--Menu sidebar -->
<script src="{{ asset('Bundles/admin/js/sidebarmenu.js')}}"></script>
<!--stickey kit -->
<script src="{{ asset('Bundles/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js')}}"></script>
<!--Custom JavaScript -->
<script src="{{ asset('Bundles/admin/js/custom.min.js')}}"></script>
<!-- wysuhtml5 Plugin JavaScript -->
<script src="{{ asset('Bundles/assets/plugins/html5-editor/wysihtml5-0.3.0.js')}}"></script>
<script src="{{ asset('Bundles/assets/plugins/html5-editor/bootstrap-wysihtml5.js')}}"></script>
<script>
    $(document).ready(function() {

        $('.textarea_editor').wysihtml5();


    });
</script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{{ asset('Bundles/assets/plugins/styleswitcher/jQuery.style.switcher.js')}}"></script>
{% endblock %}