{% extends 'base.html.twig' %}
{% block rubrique %} Reclamtion {% endblock %}
{% block content %}
<br><br><br>
<section class="contact-form section-padding3">
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                {{ form_start(form) }}
                    <div class="right">

                        <label> Objet </label>
                        {{ form_widget(form.objet,{'attr':{'type':'text'}} ) }}
                        <label> Message </label>
                        {{ form_widget(form.message, { 'attr': {

                            'rows' : '6',
                            'cols' : '15',
                            'class':'form-control',
                            'maxlength' : '200'}} ) }}
                        {{ form_widget(form.envoyer ) }}
                    </div>


                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
    <br><br><br>
{% endblock content  %}