{% extends 'base.html.twig' %}
{% block rubrique %} Contrat {% endblock %}
{% block content %}
<br><br><br>
<section class="contact-form section-padding3">
    <div class="container">
        <div class="row">

            <div class="col-md-8 mx-auto">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</section>
<br><br><br>
    {% endblock content  %}