{% extends 'base.html.twig' %}
{% block rubrique %} Contrat {% endblock %}
{% block content %}

    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elements</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/bootstrap4/bootstrap.min.css')}}">
    <link href="{{ asset('Bundles/Pack/plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Bundles/Pack/plugins/colorbox/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/course.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/course_responsive.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">
    <br> <br> <br>
    <section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Contrats non traités</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Contrats  traités</a>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table" cellspacing="0">
                                <thead>
                                <tr>

                                    <th>Entreprise </th>

                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for p in con %}
                                    {% if p.reponse == 0 %}
                                <tr>

                                    <td>{{ p.idEntreprise}}</td>

                                    <td>{{ p.datedebut|date("m/d/Y")}}  </td>
                                    <td>{{ p.datefint|date("m/d/Y")}}  </td>

                                    <td><button class="btn btn-info"><a href="{{ path('pdfcontrat', {'id': p.id}) }}"> consulter </a> </button>
                                   <button class="btn btn-info" > <a href="{{ path('accepter', {'id': p.id}) }}"> accepter </a> </button>
                                   <button class="btn btn-danger"><a href="{{ path('refuser', {'id': p.id}) }}"> refuser </a> </button></td>

                                </tr>
                                        {% endif %}
{% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <table class="table" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Entreprise </th>

                                    <th>Date debut</th>
                                    <th>Date fin</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in con %}
                                    {% if p.reponse == 1 %}
                                        <tr>

                                            <td>{{ p.idEntreprise}}</td>

                                            <td>{{ p.datedebut|date("m/d/Y")}}  </td>
                                            <td>{{ p.datefint|date("m/d/Y")}}  </td>
                                            <td><button class="btn btn-info"><a href="{{ path('pdfcontrat', {'id': p.id}) }}"> consulter </a> </button></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <table class="table" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Contest Name</th>
                                    <th>Date</th>
                                    <th>Award Position</th>
                                    <th>list info</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">Work 1</a></td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                    <td><button class="btn btn-info">Detail</button></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Work 2</a></td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                    <td><button class="btn btn-info">Detail</button></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Work 3</a></td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                    <td><button class="btn btn-info">Detail</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content  %}