{% extends 'base.html.twig' %}
{% block rubrique %} Formation {% endblock %}
{% block content %}
    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elements</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/bootstrap4/bootstrap.min.css')}}">
    <link href="{{ asset('Bundles/Pack/plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Bundles/Pack/plugins/colorbox/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/course.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/course_responsive.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">







<!-- Course -->


    <div class="course">
        <div class="container">
            <div class="row">

                <!-- Course -->
                <div class="col-lg-10">

                    <div class="course_container">
                        <div class="course_title">{{ post.nom }}</div>
                        <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                            <!-- Course Info Item -->
                            <div class="course_info_item">
                                <div class="course_info_title">Teacher:</div>
                                <div class="course_info_text"><a href="#">Admin</a></div>
                            </div>

                            <!-- Course Info Item -->


                            <!-- Course Info Item -->
                            <div class="course_info_item">
                                <div class="course_info_title">Categories:</div>
                                {% if post.imag =="Bundles/Pack/images/hardSkills.jpg" %}
                                <div class="course_info_text"><a href="#">Hard Skils </a></div>
                                {% else %}
                                <div class="course_info_text"><a href="#">Soft Skils </a></div>
                                {% endif %}
                            </div>

                        </div>

                        <!-- Course Image -->
                        <div class="course_image">
                            <iframe width="900" height="730"
                                    src="{{ asset(post.url1) }}">
                            </iframe>

                        </div>
                        {% if post.imag =="Bundles/Pack/images/hardSkills.jpg" %}
                        <div class="course_title"><a href="{{ path('quiz',{'id':post.id}) }}">Quiz Time </a></div>
                        {% endif %}

                        <!-- Course Tabs -->
                        <div class="course_tabs_container">
                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                <div class="tab active">description & reviews</div>
                            </div>
                            <div class="tab_panels">

                                <!-- Description -->
                                <div class="tab_panel active">
                                    <div class="tab_panel_title">Software Training</div>
                                    <div class="tab_panel_content">
                                        <div class="tab_panel_text">
                                            <p>{{ post.descr }}</p>
                                        </div>





                                <!-- Curriculum -->


                                <!-- Reviews -->
                                        <br><br>
                                    <div class="tab_panel_title">Course Review</div>


                                    <div class="comments_container">
                                        <ul class="comments_list">
                                          {% for pp in post2 %}
                                            <li>
                                                <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                                                    <div class="comment_content">
                                                        <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                            <div class="comment_author"><a href="#"> {{ pp.idFreelancer.Username }}</a></div>

                                                        </div>
                                                        <div class="comment_text">
                                                            <p>{{ pp.msg }}</p>
                                                        </div>
                                                        <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                                            <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                            {% endfor %}

                                        </ul>
                                        <div class="add_comment_container">
                                            <div class="add_comment_title">Add a review</div>





                                        </div>

                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="widget-area no-padding blank">
                                                <div class="status-upload">
                                                    {{ form_start(form) }}
                                                    {{ form_widget(form.msg)}}
                                                    {{ form_end(form) }}
                                                </div><!-- Status Upload  -->
                                            </div>
                                        </div>

                                    </div><!-- Widget Area -->
                                    <!-- Course Sidebar -->



                            </div>

                        </div>

                    </div>

                </div>


    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('Bundles/Pack/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/styles/bootstrap4/popper.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/styles/bootstrap4/bootstrap.min.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/plugins/easing/easing.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/plugins/parallax-js-master/parallax.min.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/plugins/colorbox/jquery.colorbox-min.js')}}"></script>
    <script src="{{ asset('Bundles/Pack/js/course.js')}}"></script>
{% endblock content  %}


