{% extends 'base.html.twig' %}
{% block rubrique %} Formation {% endblock %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#row courses_row").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elements</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href=""{{ asset('Bundles/Pack/styles/bootstrap4/bootstrap.min.css')}}">
    <link href=""{{ asset('Bundles/Pack/plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href=""{{ asset('Bundles/Pack/plugins/colorbox/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href=""{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/courses.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/courses_responsive.css')}}">

    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">


<!-- Preloader Starts -->

<!-- Preloader End -->

<!-- Header Area Starts -->




<!-- Header Content -->


<!-- Header Search Panel -->
<div class="header_search_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                    <form action="#" class="header_search_form">
                        <input type="search" class="search_input" placeholder="Search" required="required">
                        <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Home -->


<!-- Courses -->

<div class="courses">
    <div class="container">
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-8">
                <div class="courses_search_container">
                    <form action="#" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">

                        <input type="search" id="myInput" class="courses_search_input" placeholder="Search Courses" required="required">

                        <select id="courses_search_select" class="courses_search_select courses_search_input">
                            <option>All Categories</option>
                            <option>Hrad Skills</option>
                            <option>Soft Skills</option>

                        </select>
                        <button action="submit" class="courses_search_button ml-auto">search now</button>
                    </form>
                    
                </div>
                <div class="courses_container">
                    <div class="row courses_row">
                          {% for p in posts %}
                        <!-- Course -->
                        <div class="col-lg-6 course_col">
                            <div class="course">
                                <div class="course_image"><img src="{{ asset(p.imag)}}" alt=""></div>
                                <div class="course_body">
                                    <h3 class="course_title"><a href="{{ path('cour',{'id':p.id})  }}">{{ p.nom }}</a></h3>
                                    <div class="course_teacher">Admin</div>
                                    <div class="course_text">
                                        <p>{{ p.descr}}</p>
                                    </div>
                                </div>
                                <div class="course_footer">
                                    <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="course_info">
                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                            <span>{{ p.vu }} vu</span>
                                        </div>

                                        <div class="course_price ml-auto">gratuit</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% else %}
                           {% endfor %}

                    </div>
                    <div class="navigation text-center">
                        {{ knp_pagination_render(posts) }}
                    </div>


                </div>
            </div>


            <!-- Courses Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">


                    <!-- Categories -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Categories</div>
                        <div class="sidebar_categories">
                            <ul>
                                <li><a href="{{ path('Hard') }}">Hrad Skill</a></li>
                                <li><a href="{{ path('Soft') }}">Soft Skills</a></li>

                            </ul>
                        </div>
                    </div>

                    <!-- Latest Course -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Latest Courses</div>
                        <div class="sidebar_latest">

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="{{ asset('Bundles/Pack/images/latest_1.jpg')}}" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="">How to Design a Logo a Beginners Course</a></div>

                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="{{ asset('Bundles/Pack/images/latest_2.jpg')}}" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="">Photography for Beginners Masterclass</a></div>

                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="{{ asset('Bundles/Pack/images/latest_3.jpg')}}" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="">The Secrets of Body Language</a></div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Gallery -->


                    <!-- Tags -->


                    <!-- Banner -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->



{% endblock content  %}