
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Smart-Start</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">
</head>
<body>
<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
<header class="header-area main-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">


                    <ul>
                        <li class="active"><a href="">Accueil</a></li>

                        <li><a href="job-category.html">Projet </a>
                            <ul class="sub-menu">
                                <li><a href="PublierProjet.html">Publier</a></li>
                                <li><a href="Consulter.html">Consulter</a></li>
                                <li><a href="{{ path('ajouterc') }}">Ajouter Contrat</a></li>
                                <li><a href="{{ path('find') }}">Rechercher</a></li>
                                <li><a href="{{ path('MesProjet') }}">Mes Projets Freelance</a></li>
                                <li><a href="{{ path('mescandidature') }}">Mes Candidtures</a></li>
                                <li><a href={{ path('consc') }}>Consulter Contrat</a></li>
                            </ul>
                        </li>

                        <li><a href="{{ path('formation') }}">Formation </a></li>
                        <li><a href="#">blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-home.html">List Blog</a></li>
                                <li><a href="AjouterBlog.html">Ajouter Blog</a></li>

                            </ul>
                        </li>


                        <li><a href="">Reclamtion </a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('ajouterreclamtion') }}">Ajouter Reclamtion </a></li>
                                <li><a href="{{ path('mesReclamtion') }}"> Mes reclamtions</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Messageries </a></li>
                        <li><a href="#">Forum </a></li>
                        <li><a href="#"> Mon Profil </a></li>


                        <li class="menu-btn">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <a href="{{ path('fos_user_security_logout') }}" class="login">logout</a>

                                {% else %}
                                    <a href= "{{ path('fos_user_security_login') }}" class="login">log in </a>
                                    <a href= "{{ path('fos_user_registration_register') }}" class="login">register </a>
                            {%endif%}


                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Banner Area Starts -->
<section class="banner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="banner-bg"></div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="banner-text">
                    <h1>Smart <span>-</span> Start</h1>
                    <p class="py-3">Smart-Start , qui est une application desktop, web et mobile Elle est basée sur un principe d’appels d’offres : les entreprises postent des propositions de projets, et les freelances postulent pour y répondre. Cela permet aux entreprises de faire leur choix parmi les freelances intéressés par leur offre.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Search Area Starts -->
<div class="search-area">
    <div class="search-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <form action="#" class="d-md-flex justify-content-between">
                        <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" required>

                        <select>
                            <option value="1">Select Price </option>
                            <option value="2">0-100</option>
                            <option value="3">100-500</option>
                            <option value="4">500-1000</option>
                            <option value="5">+1000</option>
                        </select>
                        <button type="submit" class="template-btn">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Area End -->

<!-- Feature Area Starts -->

<!-- Feature Area End -->

<!-- Category Area Starts -->

<!-- Category Area End -->

<!-- Jobs Area Starts -->
<section class="jobs-area section-padding3">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="jobs-title">
                    <h2>
                        Parcourir les offres récents</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% for p in posts  %}
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text">
                                <h4>{{ p.titre}}</h4>



                                <ul class="mt-4">
                                    <li class="mb-3"><h5><i class="fa fa-home"></i>{{ p.idUser.username}} </h5></li>
                                    <li class="mb-3"><h5><i class="fa fa-money"></i>{{ p.prix }} dinar</h5></li>
                                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{ p.description }} </h5></li>
                                    <li><h5><i class="fa fa-clock-o"></i> Date debut {{ p.dateDebut|date('d/m/Y')}} Date debut {{ p.dateFin|date('d/m/Y') }} </h5></li>
                                </ul>
                            </div>
                            <div class="job-img align-self-center">
                                <!--  <img src="" alt="job"> -->
                            </div>
                            <div class="job-btn align-self-center">

                                <a href={{ path('apply', {id: p.id}) }} class="third-btn">appliquer
                                </a>
                            </div>
                        </div>
                    </div>







            </div>
        </div>
            {% endfor %}
            <!--     <div class="more-job-btn mt-5 text-center">
                   <a href="job-search.html" class="template-btn">more job post</a>
               </div> -->

           </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(posts) }}
        </div>
           </div>
       </section>


</div>
       <!-- Jobs Area End -->

<!-- Newsletter Area Starts -->
<section class="newsletter-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>Get job information daily</h2>
                    <p>Subscribe to our newsletter and get a coupon code!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="#">
                    <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                    <button type="submit" class="template-btn">subscribe now</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->

<!-- Employee Area Starts -->

<!-- Employee Area End -->

<!-- News Area Starts -->

<!-- News Area End -->

<!-- Download Area Starts -->

<!-- Download Area End -->

<!-- Footer Area Starts -->
<footer class="footer-area section-padding">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">top products</h3>
                        <ul>
                            <li class="mb-2"><a href="#">managed website</a></li>
                            <li class="mb-2"><a href="#">managed reputation</a></li>
                            <li class="mb-2"><a href="#">power tools</a></li>
                            <li><a href="#">marketing service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">newsletter</h3>
                        <p class="mb-4">You can trust us. we only send promo offers, not a single.</p>
                        <form action="#">
                            <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                            <button type="submit" class="template-btn">subscribe now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 offset-xl-1 col-lg-3">
                    <div class="single-widge-home">
                        <h3 class="mb-4">instagram feed</h3>
                        <div class="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed1.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed2.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed3.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed4.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed5.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed6.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed7.jpg')}}" alt="feed">
                            <img src="{{ asset('Bundles/Pack/assets/images/feed8.jpg')}}" alt="feed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                            <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!-- Javascript -->
<script src="{{ asset('Bundles/Pack/assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/bootstrap-4.1.3.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/wow.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/owl-carousel.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/jquery.nice-select.min.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/vendor/ion.rangeSlider.js')}}"></script>
<script src="{{ asset('Bundles/Pack/assets/js/main.js')}}"></script>
</body>
</html>
