{% extends 'base.html.twig' %}
{% block rubrique %} Mes Candidatures {% endblock %}
{% block content %}
<br> <br> <br>




<div class="progress-table-wrap">
    <div class="progress-table">
        <div class="table-head">

            <div class="country">Nom du projet</div>
            <div class="visit">Date debut </div>
            <div class="visit">Date fin </div>
            <div class="visit">Prix </div>
            <div class="visit">Date Candidature </div>
            <div class="visit">etat</div>
            <div class="visit">Action</div>
        </div>
    {% for p in con %}

        <div class="table-row">

            <div class="country"> {{ p.idProjet.titre }} </div>
            <div class="visit" >{{ p.idProjet.datedebut|date('d/m/Y') }}</div>
            <div class="visit" >{{ p.idProjet.datefin|date('d/m/Y') }}</div>
            <div class="visit" >{{ p.idProjet.prix }}</div>
            <div class="visit" >{{ p.date|date('d/m/Y') }}</div>


            <div class="visit" >{{ p.etat }}</div>
            <div class="visit">

                <button  class="btn btn-danger"><a href="{{ path('annulercandidature', {'id': p.id}) }}">Annuler</a></button>
            </div>
        </div>

    {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(con) }}
        </div>




    </div>
</div>
{% endblock content  %}