{% extends 'base.html.twig' %}
{% block rubrique %} Mes Projets {% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">
    <br><br>
<div class="progress-table-wrap">
    <div class="progress-table">
        <div class="table-head">

            <div class="country">Nom du projet</div>

            <div class="visit">Date Début</div>
            <div class="visit">Date Fin</div>
            <div class="visit">Prix</div>
            <div class="visit">Entreprise</div>

            <div class="visit">Action</div>
        </div>
    {% for p in con %}
        <div class="table-row">

            <div class="country">{{ p.titre }}  </div>

            <div class="visit" >{{  p.dateDebut|date('d/m/Y') }}</div>
            <div class="visit" >{{  p.dateFin|date('d/m/Y') }}</div>
            <div class="visit" >{{ p.prix }} </div>
            <div class="visit" >{{  p.idEntreprise.username }}</div>

            <div class="visit">

                <button  class="btn btn-danger"><a href="{{ path('annulerProjetf', {'id': p.id}) }}" >Annuler</a></button>
            </div>
        </div>
  {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(con) }}
        </div>







    </div>
</div>
{% endblock content  %}