{% extends 'base.html.twig' %}
{% block rubrique %} Mes Reclamtions {% endblock %}
{% block content %}
    <br> <br> <br>




    <div class="progress-table-wrap">
        <div class="progress-table">
            <div class="table-head">

                <div class="country">Objet</div>

                <div class="visit">Date  </div>
                <div class="visit">Etat </div>

                <div class="visit">Action</div>
            </div>
            {% for p in con %}

                <div class="table-row">

                    <div class="country"> {{ p.objet}} </div>
                    <div class="visit" >{{ p.date|date('d/m/Y') }}</div>
                    <div class="visit" >{{ p.etat }}</div>




                    <div class="visit">

                        <button  class="btn btn-danger"><a href="{{ path('supReclamtion', {'id': p.id}) }}">Supprimer</a></button>
                    </div>
                </div>

            {% endfor %}
            <div class="box-footer clearfix">
                <div class="pagination pagination-sm no-margin pull-right">
                    <div class="navigation text-center">{{ knp_pagination_render(con) }}</div>
                </div>
            </div>




        </div>
    </div>
{% endblock content  %}