<div class="row">
    <div class="col-12">
        <img src="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}"> </img>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title" id="1">Article 1 du contrat :nom Freelance</h4>
                <p>{{ con.idFreelance.username }}</p>


                <h4 class="card-title m-t-40" id="22">Article 2 du contrat :nom Entreprise </h4>
                <p>{{ con.idEntreprise.username }}</p>

                <h4> Article 3 du contrat Liste Des taches</h4>
                <p>{{ con.tache }}</p>


                <h4 class="card-title m-t-40" id="5">Article 4 du contrat Date de Debut</h4>
                <p>{{ con.datedebut|date("m/d/Y") }}</p>

                <h4 class="card-title m-t-40" id="6"> Article 5 du contrat Date de Fin</h4>
                <p>{{ con.datefint|date("m/d/Y") }}</p>

                <h4 class="card-title m-t-40" id="7">Article 6 du contrat : prix </h4>
                <p>{{ con.prix }} en dinar </p>

                <h4 class="card-title m-t-40" id="7">Signature </h4>




            </div>
        </div>
    </div>
</div>