{% extends 'base.html.twig' %}
{% block rubrique %} Quiz {% endblock %}
{% block content %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('Bundles/Pack/assets/images/logo/favicon.png') }}" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elements</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/bootstrap4/bootstrap.min.css')}}">
    <link href="{{ asset('Bundles/Pack/plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('Bundles/Pack/plugins/colorbox/colorbox.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/plugins/OwlCarousel2-2.2.1/animate.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/course.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bundles/Pack/styles/course_responsive.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">


<div class="super_container">





    <!-- Course -->

    <div class="course">
        <div class="container">
            <div class="row">

                <!-- Course -->
                <div class="col-lg-8">

                    <div class="course_container">
                        <div class="course_title">Software Training</div>
                        <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                            <!-- Course Info Item -->
                            <div class="course_info_item">
                                <div class="course_info_title">Teacher:</div>
                                <div class="course_info_text"><a href="#">Admin</a></div>
                            </div>

                            <!-- Course Info Item -->

                            <!-- Course Info Item -->
                            <div class="course_info_item">
                                <div class="course_info_title">Categories:</div>
                                <div class="course_info_text"><a href="#">Hard Skills</a></div>
                            </div>

                        </div>

                        <!-- Course Image -->
<br><br>
                    </div>
                    {% for message in app.flashes('success') %}
                        {% if message =="Reponse correct!!" %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                            {% else %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endif %}
                    {% endfor %}
                        <!-- Course Tabs -->
                        {{ form_start(form) }}
                        <div class="course_tabs_container">
                            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info_title">Qestion : </div> {{ form_widget(form.qes ,{'attr':{'class':'form-control custom-select'}} )}}





                            </div>
                            <div class="course_info_title">Reponse : </div> {{ form_widget(form.reponse ,{ 'attr': {

                                'rows' : '10',
                                'cols' : '100',
                                'class':'form-control',
                                'maxlength' : '200'}} ) }}
                            <div class="form-group">
                                <br>
                        {{ form_widget(form.check )}}

                            {{ form_rest(form) }}
                            {{ form_end(form) }}

                            <div class="container-fluid margin">

                            </div>
                        </div>




                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="sidebar">

                        <!-- Feature -->


                        <!-- Feature -->


                        <!-- Latest Course -->
                        <div class="sidebar_section">
                            <div class="sidebar_section_title">Latest Test</div>
                            <div class="sidebar_latest">

                                <!-- Latest Course -->
                                <div class="latest d-flex flex-row align-items-start justify-content-start">
                                    <div class="latest_image"><div><img src="images/latest_1.jpg" alt=""></div></div>
                                    <div class="latest_content">
                                        <div class="latest_title"><a href="course.html">How to Design a Logo a Beginners Course</a></div>

                                    </div>
                                </div>

                                <!-- Latest Course -->
                                <div class="latest d-flex flex-row align-items-start justify-content-start">
                                    <div class="latest_image"><div><img src="images/latest_2.jpg" alt=""></div></div>
                                    <div class="latest_content">
                                        <div class="latest_title"><a href="course.html">Photography for Beginners Masterclass</a></div>

                                    </div>
                                </div>

                                <!-- Latest Course -->
                                <div class="latest d-flex flex-row align-items-start justify-content-start">
                                    <div class="latest_image"><div><img src="images/latest_3.jpg" alt=""></div></div>
                                    <div class="latest_content">
                                        <div class="latest_title"><a href="course.html">The Secrets of Body Language</a></div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->


</div>
{% endblock content  %}