{% extends 'base.html.twig' %}
{% block rubrique %} Recherche Projet {% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/animate-3.7.0.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/font-awesome-4.7.0.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/fonts/flat-icon/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/bootstrap-4.1.3.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/owl-carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('Bundles/Pack/assets/css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <div class="search-area">
        <div class="search-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <form action="#" class="d-md-flex justify-content-between">
                            <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" required>

                            <select>
                                <option value="1">Select Price </option>
                                <option value="2">0-100</option>
                                <option value="3">100-500</option>
                                <option value="4">500-1000</option>
                                <option value="5">+1000</option>
                            </select>
                            <button type="submit" class="template-btn">Rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
<section class="jobs-area section-padding3">
    <div class="container">


        <div class="row" id="result">
            {% for p in posts  %}
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>{{ p.titre}}</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-money"></i>{{ p.prix }} dinar</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> {{ p.description }} </h5></li>
                                        <!--   <li><h5><i class="fa fa-clock-o"></i> Date debut {{ p.dateDebut|date('d/m/Y')}} Date Fin {{ p.dateFin|date('d/m/Y') }} </h5></li>-->
                                    </ul>
                                </div>
                                <div class="job-img align-self-center">
                                    <!--  <img src="" alt="job"> -->
                                </div>
                                <div class="job-btn align-self-center">

                                    <a href="#" class="third-btn">apply</a>
                                </div>
                            </div>
                        </div>







                    </div>
                </div>
            {% endfor %}
            <!--     <div class="more-job-btn mt-5 text-center">
                   <a href="job-search.html" class="template-btn">more job post</a>
               </div> -->
        </div>
    </div>
</section>

{% endblock content  %}